<!DOCTYPE html>
<html>
<head>
  <title>Handset</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<center><h1>Handset Detection</h1></center>
<%= yield %>

</body>
</html>
